# Compiled code
*.class
*.pyc
*.o
*.gz
*.zip
*.log

*.nii*
*.pdf
*.pptx
*.key
.DS_Store


# Media
*.png  # dont want images taking up space
*.jpg
*.gif
*.mp4
*.svg

# directories
data/*
docs/*
images/*
scivis/*
docs/papers/*
docs/presentations
docs/examples/*
python/images/*
javascript/js/assets/*.js
javascript/js/assets/*.json
javascript/js/app/examples/*

ds14_scivis_0128_e4_dt04_0.*
.idea
data/json/*.json
conversion_images
gotit_images
other_images