*.class
*.nii*
*.pdf
*.png  # dont want images taking up space
*.pyc
*.o
*.gz
*.zip
*.log
ds14_scivis_0128_e4_dt04_0.*
.DS_Store
data/*
*.mp4
docs/papers/*
docs/examples/*
*.gif
DarkSkyPy/images/*
.idea
images/*
data/json/*.json
conversion_images
gotit_images
other_images